
server/modules/__pycache__/

server/modules_api/__pycache__/

docker-compose.yml

config/config_prod

config/config_test

app/icon_backup/Thumbs.db

app/icon_backup/Thumbs.db:encryptable

app/icon/material/

app/icon_backup/
