
server/modules/__pycache__/

server/modules_api/__pycache__/

docker-compose.yml

config/config_prod

config/config_test

*.swp

*.pyc

app/icon/material/

app/icon_backup/

app/icon_backup/Thumbs.db:encryptable

app/icon_backup/Thumbs.db




config/container/_sicher/

config/container/test
