
server/modules/__pycache__/

server/modules_api/__pycache__/

log/server.log

/docker-compose.yml

/docker-compose-rpi.yml

config/config_prod

config/config_test

*.swp

*.pyc

/start_mbox

app/icon/material/

app/icon_backup/

app/icon_backup/Thumbs.db:encryptable

app/icon_backup/Thumbs.db

*~

config/install/install-datadir

config/install/install-rclocal


docs/prv-info/

server/modules/config_stage.py

app/config_stage.js

start

app/icon/Thumbs.db

app/icon/Thumbs.db:encryptable

log/internet_connect

log/

app.zip

config/autohotspot/templates/autohotspot

config/autohotspot/templates/hostapd.conf

config/autohotspot/templates/wpa_supplicant.conf

app-v2/00-index-js.txt

app-v2/cache.manifest

server/trail/
