@keyframes control_on {
  from {bottom: -110px;}
  to   {bottom: -20px;}
}

@keyframes control_off {
  from {bottom: -20px;}
  to   {bottom: -110px;}
}

@keyframes control_hide {
  from {bottom: -110px;}
  to   {bottom: -180px;}
}

@keyframes control_show {
  from {bottom: -180px;}
  to   {bottom: -110px;}
}

.mbox_control {
  	position    : fixed;
  	bottom      : -110px;
  	left        : 0px;

  	height      : 180px;
  	width       : 100%;

  	border-top  : 4px solid black;
  	background  : #333333;
  	opacity     : 0.9;
  	z-index     : 100;
  	padding-top : 3px;
	font-family : Helvetica, sans-serif;
	}

.mbox_control.on {
	animation-name: control_on;
  	animation-duration: 4s;

  	bottom  : -20px;
	}

.mbox_control.off {
	animation-name: control_off;
  	animation-duration: 2s;

  	bottom  : -110px;
	}

.mbox_control.hide {
	animation-name: control_hide;
  	animation-duration: 1.5s;

  	bottom  : -180px;
	}

.mbox_control.show {
	animation-name: control_show;
  	animation-duration: 3s;

  	bottom  : -110px;
	}
/* ---------------------------------------- */

.mbox_vol_control {
	position 	: absolute;
	top		: 20px;
	right		: 20px;
	height		: 200px;
	width		: 100px;
	}

.mbox_ctrl_info {
  	width		: 95%;
  	float		: left;
  	opacity	: 1;
  	color		: white;
  	margin		: 3px;
  	font-size	: 12px;
	font-family	: Helvetica, sans-serif;
  	overflow 	: hidden;
	}

/* ---------------------------------------- */

@keyframes control_info_on {
  from {opacity: 0.2;}
  to   {opacity: 1.0;}
}
@keyframes control_info_off {
  from {opacity: 1.0;}
  to   {opacity: 0.2;}
}

.mbox_ctrl_info_player {
  	width		: 95%;
  	float		: left;
  	opacity	: 1;
  	color		: white;
  	margin		: 3px;
  	font-size	: 12px;
  	overflow	: hidden;
  	opacity	: 0.2;
	font-style	: sans-serif;
	}

.mbox_ctrl_info_player.on1 {
  	opacity	: 1.0;
	}

.mbox_ctrl_info_player.off1 {
  	opacity	: 0.2;
	}

/* ---------------------------------------- */

.mbox_ctrl_open {
  	float		: right;
  	cursor		: pointer;
  	width		: 5%;
  	height		: 15px;
  	color		: white;
  	opacity	: 1;
	}

/* ---------------------------- */

/* adapted format for iphone 5c */

@media (max-width: 374px) {
  .mbox_ctrl_open {width:10%;}
  .mbox_ctrl_info {width:90%;}
  }

/* adapted format for iphone Xs */

@media (min-width: 375px) {
  .mbox_ctrl_open {width:15%;}
  .mbox_ctrl_info {width:83%;}
  }

/* adapted format for Laptop & Bigger */
/*
@media (min-width: 1000px) {
  .mbox_control {
    bottom  : -110px;
    }
  .mbox_control.on {
    bottom  : -20px;
    }
  @keyframes control_on {
    from {bottom: -110px;}
    to   {bottom: -20px;}
    }
  }
*/
