/* Main Menu */

/* Balken Menü */

nav {
	position	: fixed;
  	left		: 0px;
  	top		: 0px;

  	width		: 100%; 
  	height		: 38px;

  	box-shadow	: 3px 3px 3px rgba(0, 0, 0, 0.25);
  	background	: #111111;
  	padding		: 0px;
  	z-index		: 85;
  	text-decoration	: none;
  	display		: block;
  	font-family	: sans-serif;
  	font-size	: 14px;
  	border-top	: 1px solid darkgray;
	}

/* LOGO */

nav-logo {
 	position	: fixed;
  	top		: 5px;
  	right		: 10px;
  	display		: block;
  	z-index		: 92;
  	border		: solid 1px;
	}

/* title */

nav-title {
  	cursor		: pointer;
  	color		: #999999;
  	font-face	: helvetica;
  	font-size	: 14px;
  	position	: absolute;
  	top		: 11px;
  	left		: 45px;
  	display		: block;
  	z-index		: 91;
  	width		: 180px;
	}

/* audio volume control */

nav-audio {
        position        : absolute;
        top             : 45px;
        right           : 10px;
        height          : 123px;
        width           : 40px;
  	background 	: #ddddee;
	border-radius	: 5px;
  	box-shadow	: 3px 3px 3px rgba(0, 0, 0, 0.25);
	padding		: 5px;
	display		: none;
        }


/* übergeordnete Formatierung DropDown-Menü */

nav ul {
  	list-style	: none;
  	margin		: 0;
  	padding		: 0;
  	cursor		: pointer;
  	z-index		: 90;
}

/* Menüpunkte im Balken */

nav > ul {
  	float		: left;
  	overflow	: hidden;
  	padding		: 5px;
  	text-decoration	: none;
}

nav > ul a {
  	display		: block;
  	white-space	: nowrap;
  	padding		: 3px;
  	text-decoration	: none;
}

/* Erste Unterebene, ausklappbar */
/* UL => Hintergrund; LI => Eintrag */

nav > ul > li {
   	float		: left;
}

nav > ul > li > ul > li > hr {
   width : 90%;
}

/*
nav > ul > li:active > ul {
  display: block;
}
*/

nav > ul > li > ul {
  	display    	: block;
  	visibility 	: hidden;
  	position   	: absolute;
  	left       	: 5px;
  	top        	: 45px;
  	background 	: #ddddee;
  	 -webkit-border-radius: 5px;
  	 -moz-border-radius: 5px;
  	border-radius	: 5px;
  	box-shadow 	: 3px 3px 3px rgba(0, 0, 0, 0.25);
  	min-width  	: 140px;
  
  	overflow-x	: hidden;
  	overflow-y	: auto;
}

nav > ul > li > ul > li {
  	position	: relative;
}

nav ul > li > ul > li a {
   	color		: black;
   	padding		: 8px 12px;
   	text-decoration	: none;
   	display		: block;
}

/* Tiefere Ebenen als aktuell relevant */

nav > ul > li > ul > li > ul {
  	display		: none;
}

nav > ul > li > ul > li:hover > ul {
  	display		: block;
}

nav > ul > li > ul > li:hover > ul {
  	display		: block;
  	position	: absolute;
  	left		: 100%;
  	top		: 0;
}

/* Element zum Aufklappen kennzeichnen */

nav li > a:after {
  	content		: " +";
}

nav li > a:only-child:after {
  	content		: "";
}

/* AUDIO INFO */

nav-info {
  	position	: fixed;
  	top		: 10px;
  	right		: 50px;
  	display		: block;
  	z-index		: 80;
  	color		: #333333;
  	border		: solid 0px;
  	font-weight	: bold; 
  	font-size	: 12px;
  	font-family	: sans-serif;
}

/* -------------------------------------------- */

.remote_nav {
   	float   	:  left;
   	display 	:  none;
   	width   	: 155px;
   	height  	: 2000px;
   	padding 	: 0px;
}

@media (min-width: 890px) {

   .remote_nav { display: block; }
   #navi-click { display: none; }
}

/* -------------------------------------------- */
/* 2nd menu */
/* -------------------------------------------- */

nav-b {
  	position	: fixed;
  	left		: 0px;
  	top		: 10px;
  	width		: 0px;
  
  	box-shadow	: 3px 3px 3px rgba(0, 0, 0, 0.25);
  	background	: #111111;
  	padding		: 0px;
  	z-index		: 85;
  	text-decoration	: none;
  
  	display		: block;
  	font-family	: sans-serif;
  	font-size	: 14px;

  	border-top	: 1px solid darkgray;
}

/* übergeordnete Formatierung DropDown-Menü */

nav-b ul {
 	list-style 	: none;
 	margin     	: 0;
  	padding    	: 0;
  	cursor     	: pointer;
  	z-index    	: 90;
  	width      	: 145px;
}

/* Menüpunkte im Balken */

nav-b > ul {
  	float		: left;
  	overflow	: hidden;
  	padding		: 5px;
  	text-decoration	: none;
}

nav-b > ul a {
  	display		: block;
  	white-space	: nowrap;
  	padding		: 3px;
  	text-decoration	: none;
}

/* Erste Unterebene, ausklappbar */
/* UL => Hintergrund; LI => Eintrag */

nav-b > ul > li {
   	float		: left;
}

nav-b > ul > li > ul > li > hr {
   	width 		: 90%;
}

nav-b > ul > li > ul {
  	display    	: block;
	//  visibility 	: hidden;
  	position   	: absolute;
  	left       	: 5px;
  	top        	: 38px;
  	background 	: #ddddee;
  	border-radius	: 5px;
  	box-shadow 	: 3px 3px 3px rgba(0, 0, 0, 0.25);
  	min-width  	: 130px;
  
  	overflow-x	: hidden;
  	overflow-y	: auto;
}

nav-b > ul > li > ul > li {
  	position	: relative;
}

nav-b ul > li > ul > li a {
   	color		: black;
   	padding		: 8px 12px;
   	text-decoration	: none;
   	display		: block;
}

/* Element zum Aufklappen kennzeichnen */

nav-b li > a:after {
  	content		: " +";
}

nav-b li > a:only-child:after {
  	content		: "";
}

/*-----------------------------*/


#close {
  	width		: 25px;
  	height		: 25px;
  	background	: black;
  	color		: white;
  	border		: 2px solid gray;
  	position	: absolute;
  	top		: 0px;
  	right		: 0px;
  	cursor		: pointer;
}

#audio1 {
  right: 145px;
  background-image: url('/icon/mute.png');
  background-size: 14px;
  height:14px;
  width: 14px;
  color: white;
}
#audio2 {
  right: 145px;
  background-image: url('/icon/vol+.png');
  background-size: 14px;
  height:14px;
  width: 14px;
  color: white;
}
#audio4 {
  right: 160px;
  height:14px;
  width: 140px;
  color: gray;
  text-align: right;
  font-weight: none; 
}

/* Status LED */

#statusLED {
	position : fixed;
	top      : 7px;
	right    : 10px;
        z-index  : 93;
	}

#green {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid green;
      background: #90EE90;
      margin: 6px;
    }

#yellow {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid yellow;
      background: yellow;
      margin: 6px;
    }

#red {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid red; 
      background: red;
      margin: 6px;
    }

#blue {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid lightblue; 
      background: blue;
      margin: 6px;
    }

#gray {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid #666666; 
      background: #333333;
      margin: 6px;
    }


