.sound_control {
	width  : 20px;
	height : 20px;
	cursor : pointer;
	}


.tracks_title {
   color           : black;
   width           :  230px;
   padding         :   0px;
   margin          :   0px;
   overflow        : hidden;
   float           : left;
   }


.tracks_control {
   color           : black;
   width           :  90px;
   padding         :   0px;
   margin          :   0px;

   overflow        : hidden;
   float           : left;
   }

/* ---------------------------- */

/* adapted format for iphone 5c */

@media (max-width: 374px) {
  }

/* adapted format for iphone Xs */

@media (min-width: 375px) {
  }

/* adapted format for Laptop & Bigger */

@media (min-width: 1000px) {
  }

