#!/bin/bash 
#---------------------------------------------
# change settings and copy to a file named "config"

# Settings
export WLAN_COUNTRY="${WLAN_COUNTRY}"
export WLAN_DEVICE="${WLAN_DEVICE}"

# Wifi Data
export WIFI_SSID="${WIFI_SSID}"              # default network to connect to ...
export WIFI_PWD="${WIFI_PWD}"                # pwd for default network

# Hotspot Data
export HOTSPOT_SSID="${HOTSPOT_SSID}"
export HOTSPOT_PWD="${HOTSPOT_PWD}"          # must have at least 8 characters ...


#---------------------------------------------
export DOLLAR="\\$"


