#/etc/wpa_supplicant/wpa_supplicant.conf
#----------------------------------------

ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=${WLAN_COUNTRY}

# network added via "wpa_passphrase <YOUR_SSID> [YOUR_PASSWORD]" in script 00-ensubst (jc://mbox/)

